Package: com.azzou.coeus
Name: Coeus
Version: 1.1-11
Architecture: iphoneos-arm
Description: An awesome Control Center module!
Maintainer: Azzou
Author: Azzou
Section: Control Center (Modules)
Depends: mobilesubstrate, firmware (>= 11), ws.hbang.common, libactivator, com.a3tweaks.flipswitch, com.opa334.ccsupport, com.creaturesurvive.libcscolorpicker
Icon: https://github.com/AzzouDuGhetto/repo/blob/master/depictions/coeus/assets/icon.png
SileoDepiction: https://github.com/AzzouDuGhetto/repo/blob/master/depictions/coeus/modernDepiction.json