Package: com.azzou.coeus
Name: Coeus
Version: 1.0
Architecture: iphoneos-arm
Description: An awesome Control Center module!
Maintainer: Azzou
Author: Azzou
Section: Control Center (Modules)
Depends: mobilesubstrate, firmware (>= 11), ws.hbang.common (>= 1.14), libactivator, com.a3tweaks.flipswitch, com.opa334.ccsupport
Icon: https://raw.githubusercontent.com/AzzouDuGhetto/Coeus/master/Prefs/Resources/Coeus.png