<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>

	<key>title</key>
	<string>Coeus</string>

	<key>items</key>
	<array>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Amazing dev</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>cellClass</key>
			<string>HBTwitterCell</string>
			<key>label</key>
			<string>Little Litten</string>
			<key>user</key>
			<string>Litteeen</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Designer, pretty logo, emotes master</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>cellClass</key>
			<string>HBTwitterCell</string>
			<key>label</key>
			<string>Taki</string>
			<key>user</key>
			<string>74k1_</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Doing maths with me at 6am</string>
			<key>footerText</key>
			<string>Special thanks to Constanze for pointing my dumbiness out once again</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>cellClass</key>
			<string>HBTwitterCell</string>
			<key>label</key>
			<string>Little Denial</string>
			<key>user</key>
			<string>danielpan1234</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>CCSupport among others</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>cellClass</key>
			<string>HBTwitterCell</string>
			<key>label</key>
			<string>opa334</string>
			<key>user</key>
			<string>opa334dev</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Open source contribution</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>cellClass</key>
			<string>HBTwitterCell</string>
			<key>label</key>
			<string>Muirey03</string>
			<key>user</key>
			<string>Muirey03</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>cellClass</key>
			<string>HBTwitterCell</string>
			<key>label</key>
			<string>Hamza Sood</string>
			<key>user</key>
			<string>hamzasood</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Original idea</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>cellClass</key>
			<string>HBTwitterCell</string>
			<key>label</key>
			<string>A3Tweaks</string>
			<key>user</key>
			<string>A3Tweaks</string>
		</dict>

	</array>

</dict>
</plist>