<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>

	<key>title</key>
	<string>Module</string>

	<key>items</key>
	<array>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Collapsed Size</string>
			<key>footerText</key>
			<string>Respring is required to take effect.</string>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>HBStepperTableCell</string>
			<key>label</key>
			<string>Width: %i</string>
			<key>key</key>
			<string>widthCollapsed</string>
			<key>default</key>
			<real>4</real>
			<key>min</key>
			<real>1</real>
			<key>max</key>
			<real>4</real>
			<key>singularLabel</key>
			<string>Width: 1</string>
			<key>defaults</key>
			<string>com.azzou.coeusprefs</string>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>HBStepperTableCell</string>
			<key>label</key>
			<string>Height: %i</string>
			<key>key</key>
			<string>heightCollapsed</string>
			<key>default</key>
			<real>1</real>
			<key>min</key>
			<real>1</real>
			<key>max</key>
			<real>5</real>
			<key>singularLabel</key>
			<string>Height: 1</string>
			<key>defaults</key>
			<string>com.azzou.coeusprefs</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Collapsed Layout</string>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>HBStepperTableCell</string>
			<key>label</key>
			<string>%i columns</string>
			<key>key</key>
			<string>columnCollapsed</string>
			<key>default</key>
			<real>5</real>
			<key>min</key>
			<real>1</real>
			<key>max</key>
			<real>5</real>
			<key>singularLabel</key>
			<string>1 column</string>
			<key>defaults</key>
			<string>com.azzou.coeusprefs</string>
			<key>PostNotification</key>
			<string>com.azzou.coeusprefs/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>HBStepperTableCell</string>
			<key>label</key>
			<string>%i rows</string>
			<key>key</key>
			<string>rowCollapsed</string>
			<key>default</key>
			<real>1</real>
			<key>min</key>
			<real>1</real>
			<key>max</key>
			<real>5</real>
			<key>singularLabel</key>
			<string>1 row</string>
			<key>defaults</key>
			<string>com.azzou.coeusprefs</string>
			<key>PostNotification</key>
			<string>com.azzou.coeusprefs/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>label</key>
			<string>Use paging</string>
			<key>key</key>
			<string>isPagingCollapsed</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.azzou.coeusprefs</string>
			<key>PostNotification</key>
			<string>com.azzou.coeusprefs/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>label</key>
			<string>Show slide indicator</string>
			<key>key</key>
			<string>isIndicatorCollapsed</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.azzou.coeusprefs</string>
			<key>PostNotification</key>
			<string>com.azzou.coeusprefs/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>label</key>
			<string>Show labels</string>
			<key>key</key>
			<string>isLabelsCollapsed</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.azzou.coeusprefs</string>
			<key>PostNotification</key>
			<string>com.azzou.coeusprefs/ReloadPrefs</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Expanded Size</string>
			<key>footerText</key>
			<string>Respring is required to take effect.</string>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>HBStepperTableCell</string>
			<key>label</key>
			<string>Width: %i</string>
			<key>key</key>
			<string>widthExpanded</string>
			<key>default</key>
			<real>4</real>
			<key>min</key>
			<real>2</real>
			<key>max</key>
			<real>4</real>
			<key>singularLabel</key>
			<string>Width: 1</string>
			<key>defaults</key>
			<string>com.azzou.coeusprefs</string>
			<key>PostNotification</key>
			<string>com.azzou.coeusprefs/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>HBStepperTableCell</string>
			<key>label</key>
			<string>Height: %i</string>
			<key>key</key>
			<string>heightExpanded</string>
			<key>default</key>
			<real>5</real>
			<key>min</key>
			<real>2</real>
			<key>max</key>
			<real>5</real>
			<key>singularLabel</key>
			<string>Height: 1</string>
			<key>defaults</key>
			<string>com.azzou.coeusprefs</string>
			<key>PostNotification</key>
			<string>com.azzou.coeusprefs/ReloadPrefs</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Expanded Layout</string>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>HBStepperTableCell</string>
			<key>label</key>
			<string>%i columns</string>
			<key>key</key>
			<string>columnExpanded</string>
			<key>default</key>
			<real>2</real>
			<key>min</key>
			<real>1</real>
			<key>max</key>
			<real>4</real>
			<key>singularLabel</key>
			<string>1 column</string>
			<key>defaults</key>
			<string>com.azzou.coeusprefs</string>
			<key>PostNotification</key>
			<string>com.azzou.coeusprefs/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>HBStepperTableCell</string>
			<key>label</key>
			<string>%i rows</string>
			<key>key</key>
			<string>rowExpanded</string>
			<key>default</key>
			<real>3</real>
			<key>min</key>
			<real>1</real>
			<key>max</key>
			<real>5</real>
			<key>singularLabel</key>
			<string>1 row</string>
			<key>defaults</key>
			<string>com.azzou.coeusprefs</string>
			<key>PostNotification</key>
			<string>com.azzou.coeusprefs/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>label</key>
			<string>Use paging</string>
			<key>key</key>
			<string>isPagingExpanded</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.azzou.coeusprefs</string>
			<key>PostNotification</key>
			<string>com.azzou.coeusprefs/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>label</key>
			<string>Show slide indicator</string>
			<key>key</key>
			<string>isIndicatorExpanded</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.azzou.coeusprefs</string>
			<key>PostNotification</key>
			<string>com.azzou.coeusprefs/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>label</key>
			<string>Show labels</string>
			<key>key</key>
			<string>isLabelsExpanded</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.azzou.coeusprefs</string>
			<key>PostNotification</key>
			<string>com.azzou.coeusprefs/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>label</key>
			<string>Scroll Verticaly</string>
			<key>key</key>
			<string>isScrollVertical</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.azzou.coeusprefs</string>
			<key>PostNotification</key>
			<string>com.azzou.coeusprefs/ReloadPrefs</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Others</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>label</key>
			<string>Dark slider indicator</string>
			<key>key</key>
			<string>isIndicatorDark</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.azzou.coeusprefs</string>
			<key>PostNotification</key>
			<string>com.azzou.coeusprefs/ReloadPrefs</string>
		</dict>

	</array>

</dict>
</plist>