<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>

	<key>title</key>
	<string>Coeus</string>

	<key>items</key>
	<array>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Name</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Glyph</string>
			<key>footerText</key>
			<string>Be carreful with SF Symbols names typo as entering a wrong name may lead to safe mode</string>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>HBLinkTableCell</string>
			<key>label</key>
			<string>Documentation</string>
			<key>subtitle</key>
			<string>Find correct SF Symbols names</string>
			<key>url</key>
			<string>https://developer.apple.com/sf-symbols/</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Activator</string>
			<key>footerText</key>
			<string>This setting will allow the toggle to be tapped anywhere.
For more control over this behavior, use Activator's preferences</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>label</key>
			<string>Activator Actions</string>
			<key>action</key>
			<string>setActivatorAction</string>
		</dict>

	</array>

</dict>
</plist>